<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="base">
    <xacro:property name="link_xyz" value="0 0 0" />
    <xacro:property name="link_rpy" value="0 0 0" />

    <link name="base_footprint" />

    <xacro:macro name="base" params="name joint_xyz">
        <link name="${name}" />

        <joint name="${name}_joint" type="fixed">
            <origin xyz="${joint_xyz}" rpy="0 0 0" />
            <parent link="base_footprint" />
            <child link="${name}" />
        </joint>
    </xacro:macro>
</robot>