<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="camera_length" value="0.027" />
    <xacro:property name="camera_width" value="0.014" />
    <xacro:property name="camera_height" value="0.040" />

    <xacro:macro name="camera" params="name joint_xyz parent_name">
        <link name="${name}">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${camera_width} ${camera_length} ${camera_height}" />
                </geometry>
                <material name="orange">
                    <color rgba="0.0 1.0 1.0 0.5" />
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${camera_width} ${camera_length} ${camera_height}" />
                </geometry>
            </collision>

        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${parent_name}" />
            <child link="${name}" />
            <origin xyz="${joint_xyz}" rpy="0 0 0" />
        </joint>
    </xacro:macro>
</robot>