<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find description)/urdf/common_inertia.xacro" />

    <xacro:property name="castor_radius" value="0.020" />
    <xacro:property name="wheel_mass" value="0.01" />

    <xacro:macro name="castor" params="name joint_xyz parent_name">
        <link name='${name}'>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="${castor_radius}" />
                </geometry>
                <material name="gray">
                    <color rgba="0.5 0.5 0.5 1" />
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <sphere radius="${castor_radius}" />
                </geometry>
            </collision>


            <xacro:sphere_inertia m="${wheel_mass}" r="${castor_radius}" xyz="0 0 0" rpy="0 0 0" />
        </link>

        <gazebo reference="${name}">
            <mu1 value="0" />
            <mu2 value="0" />
        </gazebo>

        <joint name="${name}_joint" type="fixed">
            <parent link="${parent_name}" />
            <child link="${name}" />
            <origin xyz="${joint_xyz}" rpy="0 0 0" />
        </joint>

    </xacro:macro>

</robot>