<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:property name="lidar_radius" value="0.0325" />
    <xacro:property name="lidar_height" value="0.020" />

    <xacro:macro name="lidar" params="name joint_xyz parent_name">
        <link name="${name}">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}" />
                </geometry>· <material name="black">
                    <color rgba="0.0 0.0 1.0 1" />
                </material>
            </visual>

            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder radius="${lidar_radius}" length="${lidar_height}" />
                </geometry>
            </collision>
        </link>

        <joint name="${name}_joint" type="fixed">
            <parent link="${parent_name}" />
            <child link="${name}" />
            <origin xyz="${joint_xyz}" rpy="0 0 0" />
        </joint>
    </xacro:macro>
</robot>