<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <gazebo>
        <!-- <plugin name="ignition::gazebo::systems::DiffDrive"
            filename="libignition-gazebo6-diff-drive-system.so">
            <left_joint>left_front_wheel_joint</left_joint>
            <right_joint>right_front_wheel_joint</right_joint>
            <left_joint>left_back_wheel_joint</left_joint>
            <right_joint>right_back_wheel_joint</right_joint>

            <wheel_separation>0.120</wheel_separation>
            <wheel_radius>0.040</wheel_radius>

            <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>
        </plugin> -->

        <plugin name="ignition::gazebo::systems::MecanumDrive"
            filename="libignition-gazebo-mecanum-drive-system.so">
            <front_left_joint>left_front_wheel_joint</front_left_joint>
            <front_right_joint>right_front_wheel_joint</front_right_joint>
            <back_left_joint>left_back_wheel_joint</back_left_joint>
            <back_right_joint>right_back_wheel_joint</back_right_joint>

            <wheelbase>0.120</wheelbase>
            <wheel_separation>0.120</wheel_separation>
            <wheel_radius>0.040</wheel_radius>

            <!-- <frame_id>odom</frame_id>
            <child_frame_id>base_footprint</child_frame_id>

            <tf_topic>/model/amr_launch/tf</tf_topic>
            <odom_topic>/model/amr_launch/odometry</odom_topic> -->

        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="ignition::gazebo::systems::OdometryPublisher"
            filename="libignition-gazebo-odometry-publisher-system.so">

            <odom_frame>odom</odom_frame>
            <robot_base_frame>base_footprint</robot_base_frame>

            <tf_topic>/model/amr_launch/tf</tf_topic>
            <!-- <odom_topic>/model/amr_launch/odometry</odom_topic> -->
        </plugin>
    </gazebo>

    <gazebo>
        <plugin name="ignition::gazebo::systems::JointStatePublisher"
            filename="libignition-gazebo-joint-state-publisher-system.so">
            <joint_name>left_front_wheel_joint</joint_name>
            <joint_name>right_front_wheel_joint</joint_name>
            <joint_name>left_back_wheel_joint</joint_name>
            <joint_name>right_back_wheel_joint</joint_name>
        </plugin>
    </gazebo>

</robot>
<!--  -->
<!--  -->