<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <!-- <xacro:macro name="ros2_controllers" params="left_front_wheel left_back_wheel right_front_wheel right_back_wheel">
        <ros2_control name="ros2_controllers" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

            <joint name="${left_front_wheel}_joint">
                <command_interface name="velocity" />
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${left_back_wheel}_joint">
                <command_interface name="velocity" />
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${right_front_wheel}_joint">
                <command_interface name="velocity" />
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${right_back_wheel}_joint">
                <command_interface name="velocity" />
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
        </ros2_control>
    </xacro:macro> -->

    <xacro:macro name="ros2_controllers" params="left_wheel right_wheel">
        <ros2_control name="ros2_controllers" type="system">
            <hardware>
                <plugin>gz_ros2_control/GazeboSimSystem</plugin>
            </hardware>

            <joint name="${left_wheel}_joint">
                <command_interface name="velocity" />
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
            <joint name="${right_wheel}_joint">
                <command_interface name="velocity" />
                <state_interface name="velocity" />
                <state_interface name="position" />
            </joint>
        </ros2_control>
    </xacro:macro>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <parameters>$(find simulation)/config/ros2_controllers.yaml</parameters>
        </plugin>
    </gazebo>
</robot>


<!-- <hardware>
            <plugin>mock_components/GenericSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware> -->